@import 'normalize.css';

:root {
    --header-height: 70px;
    --primary-color: #071930;
    --white-color: #fff;
    --text-primary: #fff;
    --alpha-bg: hsla(0, 0%, 100%, 0.102);
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --width-left-sidebar: 240px;
    --width-right-sidebar: 330px;
    --content-padding: 0 60px 0 60px;
    --text-link-color: #6e8ffb;
    --top-1-color: #4a90e2;
    --top-2-color: #27bd9c;
    --top-3-color: #e35050;
}

body ::-webkit-scrollbar {
    width: 6px;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset #fff;
    border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

/* Font emmbed */
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
