.wrapper {
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    color: var(--text-primary);
    background-color: #1d1f5af7;
    overflow: hidden;
}

.search-wrapper {
    border-radius: 20px;
    padding: 12px 10px;
}